<div class="buttons">
  <h1>currently playing</h1>
  <h2>{{data.item.artists.0.name}} - {{data.item.name}}</h2>
  <form method="POST">
    <button formaction="/previous">←</button>
    <button formaction="/play">▶</button>
    <button formaction="/pause">| |</button>
    <button formaction="/next">→</button>
  </form>
</div>
