<h1>Currenly Playing</h1>
<ul>
  <li><h2>Artist</h2><p>{{data.item.artists.0.name}}</p></li>
  <li><h2>Title</h2><p>{{data.item.name}}</p></li>
  <li><h2>Album</h2><p>{{data.item.album.name}}</p></li>
</ul>
<form action="/next">
    <input type="submit" value="next song" />
</form>
